@import url('https://fonts.googleapis.com/css?family=Roboto')

textarea
  border: none
  border-color: transparent
  resize: none
  font-family: Roboto
  font-size: 24px


.draggable-item
  width: 20px
  height: 20px
  background: transparent
  position: absolute
  right: 2px
  bottom: 5px


.note
  transition: height 100ms
  border-bottom: 10px

.note-text
  outline: none
  width: 95%
  z-index: 2
  background: transparent
  position: relative
  left: 5%
  width: 90%
  color: #CCC

button
  margin-top: 20px
  margin-left: 10px

header
  height: 50px
  background-color: #026AA7

.header__button
  background-image: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%)
  height: 80%
  margin-top: 10%